.idea
.DS_Store
node_modules/
coverage/
npm-debug.log
stats.json
yarn-error.log
benchmark/results
*.exe
.npmrc
.prettierrc.js
.prettierrc
logs/
aasx-package-explorer/
aasx-server/
eclass/
opc-ua-client/
desktop.ini
**/desktop.ini
*.ini